body {
  background: #f3f4f6;
  font-family: Arial;
  margin: 0;
}

.container {
  max-width: 650px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #1e3a8a;
}

.card, .task-card {
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  height: 80px;
}

.btn-add {
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.badge-complete {
  background: #16a34a;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.badge-pending {
  background: #dc2626;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.buttons {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}

.btn-complete {
  background: #10b981;
  color: white;
  padding: 8px;
  border: none;
  flex: 1;
  border-radius: 6px;
  cursor: pointer;
}

.btn-edit {
  background: #facc15;
  color: black;
  padding: 8px;
  border: none;
  flex: 1;
  border-radius: 6px;
  cursor: pointer;
}

.btn-delete {
  background: #ef4444;
  color: white;
  padding: 8px;
  border: none;
  flex: 1;
  border-radius: 6px;
  cursor: pointer;
}

.search {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #888;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  width: 350px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.btn-save {
  width: 100%;
  background: #2563eb;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

.btn-cancel {
  width: 100%;
  background: #9ca3af;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}
